body{
  background-color: 	#243447;
  color: #E79E4F;
  font-family: josefin Sans;
}

h1{
  font-style: italic;
}

.header{
  margin: 0;
  background-color: rgb(148, 48, 55);
  display: inline-block;
  height: 200px;
  width: 400px;
  left: 10px;
  top: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  left: 400px;
  top: 30px;
}

.amer{
 position: absolute;
 top: 60px;
 left: 10px;
}

.description{
  position: absolute;
  top: 110px;
  left: 10px;
}

hr{
  background: none;
  border: none;
  border-top-style: dotted;
  border-width: 5px;
  display: block;
  width: 200px;
  height: 30px;
  margin: 50px 10px;
}

button:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button{
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #c51f5d;
}

a{
  color: white; 
  text-decoration: none;
}

.home-btn{
  margin-top: 10px;
}

.your-name, .email, textarea  {
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: none;
  
}

textarea{
  margin-top: 10px;
}

.submit{
  background: rgb(210,210,210);
 border: 2px solid #E79E4F; 
 padding: 5px 10px;
 color: black ;
 border-radius: 5px;
 cursor: pointer;
}

.submit:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  scale: 102%;
  transform: translateY(10px);
}

img{
  height: 75px;
  border-radius: 45px;
  margin: 0;
  object-fit: contain;
  position: absolute;
  top: -30px;
  left: 140px;
  border: 5px solid rgb(148, 48, 55);
}
