body{
  background-color: 	#243447;
  color: #E79E4F;
  font-family: josefin Sans;
}

h1{
  font-style: italic;
}

.header{
  margin: 0;
  background-color: rgb(148, 48, 55);
  display: inline-block;
  height: 100px;
  width: 400px;
  margin-left: 20px;
  border-radius: 10px;
  position: sticky;
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  right: 100px;
}

.amer, .description{
  margin-left: 10px;
}

hr{
  background: none;
  border: none;
  border-top-style: dotted;
  border-width: 5px;
  display: block;
  width: 200px;
  height: 30px;
}

button:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button{
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #c51f5d;
}

a{
  color: white; 
  text-decoration: none;
}

.home-btn{
  margin-top: 10px;
}

.your-name, .email, textarea  {
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: none;
  
}

textarea{
  margin-top: 10px;
}

.submit{
  background: rgb(210,210,210);
 border: 2px solid #E79E4F; 
 padding: 5px 10px;
 color: black ;
 border-radius: 5px;
 cursor: pointer;
}

.submit:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  scale: 102%;
  transform: translateY(10px);
}

img{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 75px;
  border-radius: 45px;
  margin: 0;
  object-fit: contain;
}